build-Wakxy-Desktop_Qt_5_7_1_clang_64bit-Debug/.qmake.stash
build-Wakxy-Desktop_Qt_5_7_1_clang_64bit-Debug/authserver.o
build-Wakxy-Desktop_Qt_5_7_1_clang_64bit-Debug/completer.o
build-Wakxy-Desktop_Qt_5_7_1_clang_64bit-Debug/dialogpacket.o
build-Wakxy-Desktop_Qt_5_7_1_clang_64bit-Debug/highlighter.o
build-Wakxy-Desktop_Qt_5_7_1_clang_64bit-Debug/main.o
build-Wakxy-Desktop_Qt_5_7_1_clang_64bit-Debug/mainwindow.o
build-Wakxy-Desktop_Qt_5_7_1_clang_64bit-Debug/Makefile
build-Wakxy-Desktop_Qt_5_7_1_clang_64bit-Debug/moc_authserver.cpp
build-Wakxy-Desktop_Qt_5_7_1_clang_64bit-Debug/moc_authserver.o
build-Wakxy-Desktop_Qt_5_7_1_clang_64bit-Debug/moc_completer.cpp
build-Wakxy-Desktop_Qt_5_7_1_clang_64bit-Debug/moc_completer.o
build-Wakxy-Desktop_Qt_5_7_1_clang_64bit-Debug/moc_dialogpacket.cpp
build-Wakxy-Desktop_Qt_5_7_1_clang_64bit-Debug/moc_dialogpacket.o
build-Wakxy-Desktop_Qt_5_7_1_clang_64bit-Debug/moc_highlighter.cpp
build-Wakxy-Desktop_Qt_5_7_1_clang_64bit-Debug/moc_highlighter.o
build-Wakxy-Desktop_Qt_5_7_1_clang_64bit-Debug/moc_mainwindow.cpp
build-Wakxy-Desktop_Qt_5_7_1_clang_64bit-Debug/moc_mainwindow.o
build-Wakxy-Desktop_Qt_5_7_1_clang_64bit-Debug/moc_packetreader.cpp
build-Wakxy-Desktop_Qt_5_7_1_clang_64bit-Debug/moc_packetreader.o
build-Wakxy-Desktop_Qt_5_7_1_clang_64bit-Debug/packetreader.o
build-Wakxy-Desktop_Qt_5_7_1_clang_64bit-Debug/qrc_ressources.cpp
build-Wakxy-Desktop_Qt_5_7_1_clang_64bit-Debug/qrc_ressources.o
build-Wakxy-Desktop_Qt_5_7_1_clang_64bit-Debug/ui_dialogpacket.h
build-Wakxy-Desktop_Qt_5_7_1_clang_64bit-Debug/ui_mainwindow.h
build-Wakxy-Desktop_Qt_5_7_1_clang_64bit-Debug/utils.o
build-Wakxy-Desktop_Qt_5_7_1_clang_64bit-Debug/Wakxy.app/Contents/Info.plist
build-Wakxy-Desktop_Qt_5_7_1_clang_64bit-Debug/Wakxy.app/Contents/PkgInfo
build-Wakxy-Desktop_Qt_5_7_1_clang_64bit-Debug/Wakxy.app/Contents/MacOS/Wakxy
build-Wakxy-Desktop_Qt_5_7_1_clang_64bit-Debug/Wakxy.app/Contents/Resources/empty.lproj
build-Wakxy-Desktop_Qt_5_7_1_clang_64bit-Debug/Wakxy.app/Contents/Resources/icon.rc
src/Wakxy.pro.user
